{% load static %}
{% load i18n %}

    <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url "main:index" %}" class="logo d-flex align-items-center">
            <img src="{% static "assets/img/logo.jpg" %}" alt="">
          </a>
          <div class="social-links d-flex mt-4">
          {% if site_twitter != '' %}<a href="{{site_twitter| default:"#"}}"><i class="bi bi-twitter-x"></i></a>{% endif %}
          {% if site_facebook != '' %}<a href="{{site_facebook| default:"#"}}"><i class="bi bi-facebook"></i></a>{% endif %}
          {% if site_instagram != '' %}<a href="{{site_instagram| default:"#"}}"><i class="bi bi-instagram"></i></a>{% endif %}
          {% if site_linkedin != '' %}<a href="{{site_linkedin| default:"#"}}"><i class="bi bi-linkedin"></i></a>{% endif %}
          {% if site_youtube != '' %}<a href="{{site_youtube| default:"#"}}"><i class="bi bi-youtube"></i></a>{% endif %}
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Корисні посилання</h4>
          <ul>
            <li><a href="{% url "main:index" %}">Головна</a></li>
            <li><a href="{% url "main:about" %}">Про компанію</a></li>
            <li><a href="{% url "main:terms" %}">Умови користування</a></li>
            <li><a href="{% url "main:privacy" %}">Політика конфеденційності</a></li>
            <li><a href="{% url "cookie_consent_cookie_group_list" %}">Cookies</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Наші послуги</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Контакти</h4>
          <p>{{site_address}}</p>
          <p>{{site_city}}</p>
          <p>Україна</p>
            <p class="mt-4">
              <strong>Тел:</strong>
              <span>
                {{ site_phone }}
              </span>
            </p>
            <p>
              <strong>Email:</strong>
              <span>
                {{ site_email }}
              </span>
            </p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">БІЛДІНГ ЕСТЕЙТ</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>