{% load static %}

  <header id="header" class="header dark-background">

    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:{{ site_email }}">{{ site_email }}</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>{{ site_phone }}</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          {% if site_twitter != '' %}<a href="{{site_twitter| default:"#"}}" class="twitter"><i class="bi bi-twitter-x"></i></a>{% endif %}
          {% if site_facebook != '' %}<a href="{{site_facebook| default:"#"}}" class="facebook"><i class="bi bi-facebook"></i></a>{% endif %}
          {% if site_instagram != '' %}<a href="{{site_instagram| default:"#"}}" class="instagram"><i class="bi bi-instagram"></i></a>{% endif %}
          {% if site_linkedin != '' %}<a href="{{site_linkedin| default:"#"}}" class="linkedin"><i class="bi bi-linkedin"></i></a>{% endif %}
          {% if site_youtube != '' %}<a href="{{site_youtube| default:"#"}}"><i class="bi bi-youtube"></i></a>{% endif %}
        </div>
      </div>
    </div>

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="{% url "main:index" %}" class="logo d-flex align-items-center">
           <img src="{% static "assets/img/logo-part.jpg" %}" alt="БІЛДІНГ ЕСТЕЙТ"> 
        </a>
      {% with current_url=request.resolver_match.url_name %}
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url "main:index" %}" class="{% if current_url == 'index' %}active{% endif %}">Головна</a></li>
            <li><a href="{% url "main:about" %}" class="{% if current_url == 'about' %}active{% endif %}">Про компанію</a></li>
            <li><a href="{% url "services:services" %}" class="{% if current_url == 'services' %}active{% endif %}">Послуги</a></li>
            <li><a href="{% url "portfolio:portfolio" %}" class="{% if current_url == 'portfolio' %}active{% endif %}">Проекти</a></li>
            <li><a href="{% url "main:team" %}" class="{% if current_url == 'team' %}active{% endif %}">Команда</a></li>
            <li><a href="{% url "main:gallery" %}">Галерея</a></li>
            <li><a href="{% url "main:contact" %}" class="{% if current_url == 'contact' %}active{% endif %}">Контакти</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      {% endwith %}
      </div>

    </div>

  </header>