{% load static %}
{% load i18n %}


  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url "main:index" %}" class="logo d-flex align-items-center">
        <!--<img src="assets/img/logo.png" alt="">-->
        <h1 class="sitename">UpConstruction</h1> <span>.</span>
      </a>
      {% with current_url=request.resolver_match.url_name %}
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url "main:index" %}" class="{% if current_url == 'index' %}active{% endif %}">Home</a></li>
          <li><a href="{% url "main:about" %}" class="{% if current_url == 'about' %}active{% endif %}">About</a></li>
          <li><a href="{% url "services:services" %}" class="{% if current_url == 'services' %}active{% endif %}">Services</a></li>
          <li><a href="{% url "portfolio:portfolio" %}" class="{% if current_url == 'portfolio' %}active{% endif %}">Projects</a></li>
          <li><a href="{% url "blog:blog" %}" class="{% if current_url == 'blog' %}active{% endif %}">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="{% url "main:contact" %}" class="{% if current_url == 'contact' %}active{% endif %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      {% endwith %}


    </div>
  </header>