{% load static %}
{% load cookie_consent_tags %}
{% if request|cookie_group_accepted:"analytics" %}
  {# load 3rd party analytics #}
{% endif %}

{% if request|cookie_group_accepted:"analytics=_ga:example.com" %}
  {# load google analytics #}
{% endif %}


<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% include "seo/includes/seo.html" %}

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16"  href="{% static "assets/img/favicons/favicon-16x16.png" %}">
  <link rel="icon" type="image/png" sizes="32x32"  href="{% static "assets/img/favicons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96"  href="{% static "assets/img/favicons/apple-touch-icon-96x96.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/img/favicons/apple-touch-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static "assets/img/favicons/android-icon-192x192.png" %}">
  <meta name="msapplication-TileColor" content="#0E1422">
  <meta name="theme-color" content="#0E1422">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static "assets/css/main.css" %}" rel="stylesheet">
</head>

<body class="index-page">

  {% block header %}{% endblock header %}

  <main class="main">
    {% block content %}{% endblock content %}
  </main>

  {% include "includes/footer.html" %}

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script type="application/ld+json">
    {{ organization_schema|safe }}
  </script>

  <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "assets/vendor/aos/aos.js" %}"></script>
  <script src="{% static "assets/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "assets/js/main.js" %}"></script>


{% url "cookie_consent_cookie_group_list" as url_cookies %}

<template id="cookie-consent__cookie-bar">

<div class="cookie-bar">

<div class="cookie-bar__container">

<div class="cookie-bar__text">

Цей сайт використовує cookies для кращої роботи.

</div>

<div class="cookie-bar__actions">

<button type="button"
        class="cookie-consent__accept btn btn-primary btn-sm">
Прийняти
</button>

<button type="button"
        class="cookie-consent__decline btn btn-outline-light btn-sm">
Відхилити
</button>

<a href="{{ url_cookies }}"
   class="cookie-bar__link">
Детальніше
</a>

</div>

</div>

</div>

</template>
{% load cookie_consent_tags %}

{% all_cookie_groups 'cookie-consent__cookie-groups' %}
{% load static cookie_consent_tags %}
{% static "cookie_consent/cookiebar.module.js" as cookiebar_src %}
{% url 'cookie_consent_status' as status_url %}

<script type="module">
import { showCookieBar } from '{{ cookiebar_src }}';

showCookieBar({
  statusUrl: '{{ status_url|escapejs }}',
  templateSelector: '#cookie-consent__cookie-bar',
  cookieGroupsSelector: '#cookie-consent__cookie-groups',
});
</script>
</body>

</html>