{% extends "base.html" %}
{% load static %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock header %}

{% block content %}

    {% include "main/includes/page_title.html" %}

    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center g-5">
          <div class="col-lg-6">
            <div class="about-content" data-aos="fade-right" data-aos-delay="200">
              <h2>{{page.h2}}</h2>
              <p>{{page.history_text|safe}}</p>
              <div class="achievement-boxes row g-4 mt-4">
                <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="300">
                  <div class="achievement-box">
                    <h3>{{page.years_number_statistics}}+</h3>
                    <p>Років досвіду</p>
                  </div>
                </div>
                <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="400">
                  <div class="achievement-box">
                    <h3>{{page.projects_number_statistics}}+</h3>
                    <p>Реалізованих проєктів</p>
                  </div>
                </div>
                <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="600">
                  <div class="achievement-box">
                    <h3>{{page.workers_number_statistics}}</h3>
                    <p>Фахівців у команді</p>
                  </div>
                </div>
              </div>
              
              <div class="cta-container mt-5" data-aos="fade-up" data-aos-delay="800">
                <a href="{{page.history_video}}" class="btn btn-primary">Переглянути відео про компанію</a>
              </div>

              <div class="certifications mt-5" data-aos="fade-up" data-aos-delay="700">
                <h5>Сертифікація, дозволи та партнерство</h5>

                <div class="row g-3 align-items-center">
                {% for img in certificates_img %}
                  <div class="col-4 col-md-3">
                    <div class="gallery-item">
                      <a href="{{img.image.url}}" class="gallery-overlay glightbox">
                        <img src="{{img.image.url}}" alt="{{img.alt_text}}" class="img-fluid" loading="lazy">
                      </a>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>


            </div>
          </div>

          <div class="col-lg-6">
            <div class="about-image position-relative" data-aos="fade-left" data-aos-delay="200">
              <img src="{{page.history_img_left.url}}" alt="{{page.alt_img_left}}" class="img-fluid main-image rounded">
              <div class="image-overlay">
                <img src="{{page.history_img_right.url}}" alt="{{page.alt_img_right}}" class="img-fluid rounded">
              </div>
              <div class="experience-badge" data-aos="zoom-in" data-aos-delay="500">
                <span>{{page.years_number_statistics}}+</span>
                <p>років досвіду</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

{% endblock content %}