{% extends "base.html" %}
{% load static %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock header %}

{% block content %}

    {% include "main/includes/page_title.html" %}

    <section id="services" class="services section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          {% for item in services_list.all %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-card">
              <div class="service-icon">
                <i class="bi bi-building"></i>
              </div>
              <h3>{{item.name}}</h3>
              <p>{{item.sub_text|truncatechars:150}}</p>
              <div class="service-features">
                <span><i class="bi bi-check-circle"></i> {{item.option_1}}</span>
                <span><i class="bi bi-check-circle"></i> {{item.option_2}}</span>
                <span><i class="bi bi-check-circle"></i> {{item.option_3}}</span>
              </div>
              <a href="{% url "services:service" item.slug %}" class="service-link">Детальніше <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row mt-5">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-image-block">
              <img src="{{settings.img_main.url}}" alt="{{settings.img_main_alt}}" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-list-block">
              <h3>{{settings.sub_title}}</h3>
              <p>{{settings.sub_text}}</p>

              <div class="service-list">
                {% for service in settings.extra.all %}
                <div class="service-list-item" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-list-icon">
                    <i class="bi bi-rulers"></i>
                  </div>
                  <div class="service-list-content">
                    <h4>{{service.option_title}}</h4>
                    <p>{{service.option_text}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

{% endblock content %}